.link {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: black;}
.link a {
  float: left;
  display: block;
  color: lightGray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}
.link a:hover {
  background-color: red;
  color: black;}
.links {
margin: 0 10px;
 text-decoration: none;
color: red;
}

.hr {
border-color: white;
}
#top{
 color: darkgoldenrod;
 text-align: right;
 font-size: 20px;
}
.sobre{
font-family: sans-serif;
color: darkred;
font-size: 15;
}
.corpus{
background-image: url("imagens/84248.png") ;
background-repeat: no-repeat;
background-size: cover ;
}

#curi{
background-image: url("imagens/ifsul.png") ;
background-repeat: no-repeat;
background-size: cover ;
}

.favorito{
  background-color: lightblue;
}
#time{
background-color:lightsalmon ;
}

#Dani{
  color: greenyellow;
}
.cit{
color: crimson;
}

#greco{
  background-image: url("imagens/greek.webp") ;
background-repeat: no-repeat;
background-size: cover ;
}

#tabel1{
  background-color: lightblue;
}

.hora{
color: white;
}

#fied{
border-color: darkmagenta;  
}

#mar{
background-color: olivedrab;
}
tr:hover {
  background-color: grey;
  color: white;
}
table {
    border-collapse: collapse;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
th, td {
  border: 1px solid #ddd;
  padding: 15px;
  margin: auto;
}
th {
    background-color: red;
    color: white;
      text-align: left;
}
